<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wisdom & Transport</title>
</head>
<body>
  {{/* This is a comment */}}
  {{if gt .Score1 .Score2}}
  Score 1 > Score 2
  {{end}}
  {{if lt .Score1 .Score2}}
  Score 1 < Score 2
  {{end}}
  {{if eq .Score1 .Score2}}
  Score 1 = Score 2
  {{end}}
  {{if lt .Score1 10}}
  Score 1 < 10
  {{end}}
</body>
</html>
