<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wisdom & Transport</title>
</head>
<body>
  <p>Time unformatted: {{.}}</p>
  <p>Time formatted: {{fdateMDY .}}</p>
  <p>{{. | fdateMDY}}</p>
</body>
</html>
